# Datasets
pklot_dataset/
cnrpark_dataset/
CNR-EXT_FULL_IMAGE_1000x750/
*.tar

# Media and Images
*.jpg
*.jpeg
*.png
*.gif
*.avi

# ML Training Runs
runs/
*.pt

# Python and Local Environment
__pycache__/
*.pyc
.env
.ipynb_checkpoints/
venv/

# Assets
# If you want to include specific models, you can un-ignore them like this:
!assets/parking_detector.pt

# Training configs
finetune_data.yaml
